mixin bingoCard (image, title, hidden)
    .offer-card.my-5.g1__s2(class= hidden)
        .d-flex.flex-row.offer-card__top.mb-2
            .d-flex.c1.justify-content-center
                img.mx-3(src="assets/images/logo/" + image + ".png", style="background-color: ")
            .d-flex.flex-column.c2.px-md-2
                h2= title
                span.bingo-site__rating
                    img.post-ratings-image(src='assets/images/stars-rating/rating_on.png', alt='3 votes, average: 2.33 out of 5', title='3 votes, average: 2.33 out of 5')
                    img.post-ratings-image(src='assets/images/stars-rating/rating_on.png', alt='3 votes, average: 2.33 out of 5', title='3 votes, average: 2.33 out of 5')
                    img.post-ratings-image(src='assets/images/stars-rating/rating_half.png', alt='3 votes, average: 2.33 out of 5', title='3 votes, average: 2.33 out of 5')
                    img.post-ratings-image(src='assets/images/stars-rating/rating_off.png', alt='3 votes, average: 2.33 out of 5', title='3 votes, average: 2.33 out of 5')
                    img.post-ratings-image(src='assets/images/stars-rating/rating_off.png', alt='3 votes, average: 2.33 out of 5', title='3 votes, average: 2.33 out of 5')
                    |  (
                    em.invisible
                        strong 3
                        |  votes, average: 
                        strong 2.33
                        |  out of 5, 
                        strong rated
                    | )

                a.font-italic(href="") Nektan
        .d-flex.c2.ml-auto.mb-3.px-2
            p Ghost Bingo is a Cozy bingo site on the Best Bingo Network, with all the usual network promotions and huge bonuses
                a.ml-2(href="") read more...
        a.offer-card__strip.p-2.d-flex.justify-content-around.align-items-center(href="")
            span.px-2
            span £100 Deposit & 500% Bingo Bonus + 50 Free Spins
            svg.offer-card__arrow(viewBox="0 0 110 110")
                use(xlink:href="#arrowRight" x="0" y="0")
        .d-flex.flex-column.offer-card__bottom.px-2.py-4
            ul.list-unstyled
                li Deposit £10 play with £40
                li Deposit £10 play with £40
                li Deposit £10 play with £40
                li Deposit £10 play with £40
            div
                a.play-now(href="") Play Now
                a(href="") Read Review
            p.mt-4.mb-0.small.text-center.font-italic New players only. T&C's including wagering requirements apply