.article {
  ul {
    list-style-type: none;
    padding-left: 0;
  }

  a {
    color: $primary;
  }

  h2,h3,h4,h5 {
    color: $primary;
  }

  ol li {
    background: none;
    padding-left: 0;
    color: $primary;
  }
}

.offer-summary .content-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.content-links {
  margin-top: -3rem;
  background: darken($brand, 20%);
  width: 100%;
  padding-left: calc(5% + 15px);
  padding-right: calc(5% + 15px);
}

@include media-breakpoint-down(sm) {
  .content-links a {
    font-size: 0.9rem;
  }
}