.filter {
  margin-bottom: 4rem;
}


.filter-box {
  background: darken($brand, 20%);
  border-top: 10px solid $primary;
  font-weight: lighter;
  padding: 2rem 2rem 5rem 2rem;


  label {
    margin: 7px 0;
    color: $primary;

    input {
      margin-right: 15px;
    }
  }

  a {
    color: $primary;
    text-decoration: none;
    border-bottom: 1px solid $primary;
  }

  h3 {
    font-size: 1.2rem;
  }

}

.btn-filter {
  color: #ffffff;
  background: $primary;
  border-radius: 10px;
  padding: 5px;
  height: 45px;
  width: 45px;

  svg {
    fill: #ffffff;
    height: 30px;
  }
}


.btn-advanced {
  color: #ffffff;
  background: $primary;
  border-radius: 0;
  font-style: italic;
  padding: 10px;

}


.btn-close {
  color: #ffffff;
  background: $primary;
  padding: 5px;
  width: 40px;
  height: 40px;
  margin-left: auto;

  svg {
    height: 20px;
    stroke: #ffffff;
  }
}


.btn-apply {
  background: #ffffff;
  color: $brand;
  border-radius: 50px;
  font-weight: bold;
  display: block;
  margin: auto;
}

.apply-container {
  position: fixed;
  bottom: 0;
  background: darken($brand, 20%);
  width: 100%;
  left: 0;
  padding: 15px;
}


.result-text, .sponsored-links {
  color: $txt2;
  font-style: italic;
  margin: 1rem 15px 0 15px;
  font-size: 0.8rem;
}

.sponsored-links {
  margin-top: -20px;
}


@include media-breakpoint-down(md) {
  .filter-box {
    display: none;
    margin-bottom: -4rem;
  }
}

@include media-breakpoint-up(lg) {
  .filter-box {
    margin-top: -70px;
  }
}



