

.subscribe-box {
  background: $primary;
  border-top: 8px solid $brand;
  position: relative;
  display: none;

  h2 {
    color: #ffffff;
  }

  &__email {
    margin: 7px auto;
    padding: 5px;
    width: 280px;
  }

  label {
    margin: 7px auto;
    input {
      margin-right: 5px;
    }
  }

  .terms-conditions {
    font-size: 0.8rem;

    a {
      color: #ffffff;
    }
  }

  input[type="checkbox"] + label span {
    border: 2px solid #ffffff;
  }

  input[type="checkbox"]:checked + label span {
    background:#ffffff;
  }

  .btn-send {
    color: #ffffff;
    background: $brand;
    border-radius: 20px;
    margin-bottom: -42px;
    padding: 8px 30px;
  }
}


.footer-sites {
  padding-top: 4rem;
  //margin-top: -4rem;
  padding-bottom: 4rem;
  background: darken($brand, 20%);

  h2 {
    font-size: 1.4rem;
  }

  a, a:hover {
    text-decoration: none;
    font-size: 1rem;
    color: $txt2;
  }

  img {
    max-height: 60px;
    max-width:  60px;
    border-radius: 100%;
  }

  li {
    background: none;
    padding-left: 0;
  }
}

.about-us {
  color: desaturate(darken($brand, 12%), 40%);
  background: lighten($brand, 75%);

  a, a:hover {
    color: $brand;
    text-decoration: none;
    margin: 0 20px 20px 20px;
    font-size: 1rem;
    text-align: center;
  }
}


.legal-logos {
  color: desaturate(darken($brand, 12%), 40%);

  a {
    margin: 12px;
    font-size: 0.9rem;
    text-decoration: none;
  }
}

.footer-underline {
  border-top: 6px solid $brand;
}

.footer-logo {
  height: 65px;
}




@include media-breakpoint-up(lg) {
  .footer-container {
    width: 80%;
    margin: auto;
  }

  .subscribe-box {
    &__email, label {
      width: 90%;
    }

  }
}


