.navbar {
  z-index: 700;
  background: darken($brand, 25%);
  color: #ffffff;
  button:focus {
    outline: none;
  }


  &__logo {
    height: 70px;
  }

  &__button {
    height: 50px;
  }

  li {
    background: none;
    padding-left: 0;
  }
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
}

.nav-link:hover, .nav-link:focus {
  color: $primary;
}

ul li ul li:hover a.nav-link, ul li ul li ul li:hover a.nav-link {
  color: $primary;
}

ul li ul li ul li a.nav-link {
  color: #fff !important;
}

ul li ul li ul li:hover a.nav-link {
    color: $primary !important;
}



.dropdown-menu {
  background: darken($brand, 15%);
  border: none;
  z-index: 9000000;
}

.dropdown-item {
  color: #ffffff;
  text-decoration: none;
  &:active {
    background: darken($brand, 20%);
  }
  &:hover {
    background: darken($primary, 0%);
    color: white;
  }
}

@include media-breakpoint-down(md) {
  g#Tag {
    display: none;
  }

  .navbar__logo {
    height: 65px;
  }

}


@include media-breakpoint-up(lg) {
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .dropdown-item {
    padding: 8px 1.5rem;
  }

}




