.navbar {
  button:focus {
    outline: none;
  }

  background: darken($brand, 20%);
  color: #ffffff;

  &__logo {
    height: 70px;
  }

  &__button {
    height: 50px;
  }

  li {
    background: none;
    padding-left: 0;
  }
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
}

.nav-link:hover, .nav-link:focus {
  color: $primary;
}

ul ul .nav-link:hover, ul ul .nav-link:focus {
  background: #fff;
}


.dropdown-menu {
  background: darken($brand, 20%);
  z-index: 9000000;
}

.dropdown-item {
  color: #ffffff;
  text-decoration: none;
}

@include media-breakpoint-down(md) {
  g#Tag {
    display: none;
  }

  .navbar__logo {
    height: 65px;
  }

}


@include media-breakpoint-up(lg) {
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .dropdown-item {
    padding: 8px 1.5rem;
  }

}




