

body {
  color: white;
}

h2 {
  color: $theme-color-1;
}

.intro {
  padding: 3rem 0 5rem 0;
  background: url("/assets/images/headStars.jpg") no-repeat;
  background-size: cover;


  li {
    background: url('http://css-plus.com/examples/2011/12/custom-list-style/i/tick.png') no-repeat;
    padding-left: 30px;
  }


}

.offers {
  position: relative;

}

.offer-table {
  border-top: 10px solid $theme-color-1;
  background: lighten($theme-color-1, 40%);
  margin-bottom: -100px;

  thead th {
    border: 0;
    padding: .75rem 10px;
    color: $theme-color-1;
  }

  td {
    border-top: 0;
    padding: 0 10px;
    color: lighten($theme-color-2,25%);
  }

  td:first-child {
    color: $theme-color-2;
  }


}

.title-underline {
  border-bottom: 8px solid $theme-color-1;
  font-size: 1.8rem;
}

.offer-summary {
  padding-top: 3rem;
}

.intro-content {
  padding-top: 3rem;
  background: $theme-color-2;
}

a {
  color: $theme-color-2;
  text-decoration: underline;
}

a.play-now {
  color: #ffffff;
  background: $theme-color-2;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px 20px;
  margin: 15px;
}

a.play-now:hover {

}

li {
  background: url('http://css-plus.com/examples/2011/12/custom-list-style/i/tick.png') no-repeat;
  padding-left: 30px;
}


.offer-card {
  color: grey;


  img {
    border-radius: 100%;
    max-height: 100px;
  }

  h2 {
    font-size: 1.2rem;
    color: $theme-color-2;
  }



  ul {
    width: 90%;
    margin-left: 5%;

    li {
      color: $theme-color-2;
    }


  }



  &__strip {
    color: #ffffff;
    text-align: center;
    background: $theme-color-1;
    max-width: 600px;
    display: block;
    margin: auto;
    position: relative;
    margin-bottom: -20px;
  }
  &__strip:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: $theme-color-1;
    border-width: 15px;
    margin-left: -15px;
  }

  &__bottom {
    background: lighten($theme-color-2, 70%);
    border-bottom: 5px solid $theme-color-1;
  }
}

.subscribe-box {
  background: $theme-color-1;
  border-top: 8px solid $theme-color-2;

  h2 {
    color: #ffffff;
  }

  &__email, label {
    width: 90%;
  }
}

.intro-news {
  background: lighten($theme-color-1, 40%);

  li {
    margin-top: 10px;
    margin-bottom: 10px;

    a {
      text-decoration: none;
    }
  }
}

@include media-breakpoint-up(sm) {

  .offer-card {
    ul {
      display: inline-flex;
      flex-wrap: wrap;

      li {
        width: 50%;
      }
    }
  }
}

@include media-breakpoint-up(md) {

  .content-container {
      width: 80%;
      margin: auto;
  }
}
