.bingo-site {
  &__title {
    color: $brand;
    font-weight: 700;
    font-size: 1.6rem;
  }

  &__offer {
    color: $brand;
    font-size: 1rem;
  }

  &__rating {
    color: $primary;
  }
}

.bingo-descrip {
  background: darken($brand, 20%);

}

.bingo-screenshot {
  max-width: 90%;
  display: block;
  margin: auto;
}

.bingo-img {
  max-width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.shortDescription {
  p {
    color: black;
  }

}

.bingo-details {
  h2 {
    font-size: 1.6rem;
  }

  .offer-title {
    color: $brand;
    margin-bottom: 0;
  }

  .play-now {
    white-space: nowrap;
    height: 45px;
    width: 130px;
    text-align: center;
    margin: auto;

  }

  hr {
    max-width: 600px;
    margin-left: 0;
  }
}







@include media-breakpoint-up(lg) {
  .bingo-summary {
    .offer-table {
      margin-bottom: -100px;
    }
  }

  .related-bingo {
    .offer-card {
      width: 45%;
      margin: 1%;
    }
  }

}