.bingo-summary {
  .offer-table {
    border-top: 0px
  }
}


.bingo-site {
  &__title {
    color: $brand;
    font-weight: 700;
    font-size: 1.6rem;
  }

  &__offer {
    color: $brand;
    font-size: 1rem;
  }

  &__rating {
    color: $primary;
  }
}

.bingo-descrip {
  background: darken($brand, 20%);

}

.bingo-screenshot {
  max-width: 90%;
  display: block;
  margin: auto;
}

.bingo-img {
  max-width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.shortDescription {
  border-top: 10px solid $primary;
  background: darken($brand, 20%);
}

.bingo-details {
  h2 {
    font-size: 1.6rem;
  }

  .offer-title {
    color: $brand;
    margin-bottom: 0;
  }

  .play-now {
    white-space: nowrap;
    height: 45px;
    width: 130px;
    text-align: center;
    margin: auto;

  }

  hr {
    max-width: 600px;
    margin-left: 0;
  }
}
.navbar {
  z-index: 700;
}

.offer-table {
  z-index: 499;
}

.bingo-site {
  width: 100%;
  top: 0px;
  background:rgba(white, .9);
  z-index: 500;
}


@include media-breakpoint-up(lg) { 
  .bingo-site {
    top: 90px;
  }
 }
// @include media-breakpoint-up(xs) { ... } 
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) { ... }
// @include media-breakpoint-up(lg) { ... }
// @include media-breakpoint-up(xl) { ... }


//.bingo_description, .bingo_table {
//  width: 50%;
//}
//
//.bingo_description, .bingo_table {
//  width: 100%;
//}

.bingo_table {
  min-width: 50%
}

.bingo_description {

  .shortDescription {
    border-top: none;
  }
  .full_article {
    color: $txt1;
  }
}

.equal-column {
  section {
    flex: 1;
  }
}



@include media-breakpoint-up(lg) {
  .bingo-summary {
    .offer-table {
      margin-bottom: -100px;
    }
  }

  .related-bingo {
    .offer-card {
      width: 45%;
      margin: 1%;
    }
  }

}