.offer-card {
  color: $txt2;

  &__img {
    border-radius: 100%;
    max-height: 100px;
    background: $brand;
  }

  h2 {
    font-size: 1.2rem;
    color: $brand;
  }

  ul {
    width: 90%;
    margin-left: 5%;
    padding: 10px 0;

    li {
      color: desaturate(darken($brand, 15%), 10%);
    }
  }


  &__strip {
    color: #ffffff;
    text-align: center;
    background: $primary;
    max-width: 590px;
    display: block;
    margin: auto;
    position: relative;
    margin-bottom: -20px;
    text-decoration: none;
  }

  &__strip:hover {
    color: #ffffff;
    text-decoration: none;
  }

  &__snippet {
    flex: 1; //TODO
  }

  &__top {
    height: 100px;
  }


  &__strip:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: $primary;
    border-width: 15px;
    margin-left: -15px;
  }

  &__bottom {
    background: desaturate(lighten($brand, 60%), 40%);
    border-bottom: 5px solid $primary;
  }

  &__arrow {
    height: 35px;
    stroke: #ffffff;
  }
}

.offer-link, .offer-link:hover {
  text-decoration: none;
}



@include media-breakpoint-up(sm) {

  .offer-card {
    ul {
      display: inline-flex;
      flex-wrap: wrap;

      li {
        width: 50%;
      }
    }
  }
}

