.logoBNBSst0{
	fill:#4D226D;
}
.logoBNBSst1{
	fill:#31104B;
}
.logoBNBSst2{
	fill:#FBB03B;
}
.logoBNBSst3{
	fill:#FFD4CF;
}
.logoBNBSst4{
	fill:#727185;
}
.logoBNBSst5{opacity:0.5;fill:#FF95BD;}
.logoBNBSst6{
	fill:#565564;
}
.logoBNBSst7{
	fill:#FFFFFF;
}
.logoBNBSst8{opacity:0.5;fill:#BF708E;}
.logoBNBSst9{
	fill:#584F82;
}
.logoBNBSst10{opacity:0.7;fill:#FFFFFF;}
.logoBNBSst11{
	fill:url(
		#SVGID_1_);}
.logoBNBSst12{
	fill:url(
		#SVGID_2_);}
.logoBNBSst13{
	fill:url(
		#SVGID_3_);}
.logoBNBSst14{
	fill:url(
		#SVGID_4_);}
.logoBNBSst15{
	fill:#FC155C;
}
.logoBNBSst16{
	fill:#FD6997;
}
.logoBNBSst17{
	fill:url(
		#SVGID_5_);}
.logoBNBSst18{
	fill:url(
		#SVGID_6_);}
.logoBNBSst19{
	fill:url(
		#SVGID_7_);}
.logoBNBSst20{
	fill:url(
		#SVGID_8_);}

.st0888{
	fill:#FFFFFF;
}