
<nav class="navbar navbar-toggleable-md px-4">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarBNBW" aria-controls="navbarBNBW" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><a class="navbar-brand mx-auto" href="index.html">
    <svg class="navbar__logo" viewBox="0 0 157 80">
      <use xlink:href="#logo" x="0" y="0"></use>
    </svg></a>
  <div class="collapse navbar-collapse" id="navbarBNBW">
    <div class="navbar-nav mx-md-auto"><a class="nav-item nav-link active" href="index.html">HOME<span class="sr-only">(current)</span></a><a class="nav-item nav-link" href="bingosites.html">New bingo sites</a><a class="nav-item nav-link" href="#">New articles</a><a class="nav-item nav-link" href="#">Offers</a><a class="nav-item nav-link" href="#">Promotions</a><a class="nav-item nav-link" href="#">Guides</a></div>
  </div>
</nav>