nav.navbar.navbar-toggleable-md.px-4
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarBNBW', aria-controls='navbarBNBW', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    a.navbar-brand.mx-auto(href='index.html')
        svg.navbar__logo(viewBox="0 0 157 80")
            use(xlink:href="#logo" x="0" y="0")
    #navbarBNBW.collapse.navbar-collapse
        .navbar-nav.mx-md-auto
            a.nav-item.nav-link.active(href='index.html')
                | HOME
                span.sr-only (current)
            a.nav-item.nav-link(href='bingosites.html') New bingo sites
            a.nav-item.nav-link(href='#') New articles
            a.nav-item.nav-link(href='#') Offers
            a.nav-item.nav-link(href='#') Promotions
            a.nav-item.nav-link(href='#') Guides
