extends views/layout


block content
    section.intro
        .d-flex.g1__s1
            .c1.d-flex.justify-content-end
                .p-2
                    h2 Filter the new bingo sites

    section.filter
        .d-flex.flex-column.flex-md-row.g1__s1
            .c1.filter-box.p-4.hidden-md-down
                h2 test

            .c2.bingo-card.d-flex.flex-row
                .bingo-card__summary.p-2.d-flex.flex-row
                    h2 rating
                    img.mr-3(src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=", data-src="/assets/images/sampleLogo/chitChat.jpg")
                .bingo-card__details.p-2
                    h2 details
                .bingo-card__icons.p-2
                    h2 icons
