extends views/layout

block content

    section.errors.pt-4
        h1.mb-4 404 - category not found
        .d-flex.flex-column.flex-lg-row.g1.align-items-center.align-items-lg-end.justify-content-center.pt-5.pt-lg-0
            .c1
                svg.errors__svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 300 275', style='enable-background:new 0 0 300 275;', xml:space='preserve')
                    style(type='text/css').
                        .st0error {
                            fill: #DDCDEA;
                        }

                        .st1error {
                            fill: #EEE6F4;
                        }

                        .st2error {
                            fill: #F1D3E6;
                        }

                        .st3error {
                            fill: #FECFDD;
                        }

                        .st4error {
                            fill: #E3A7CD;
                        }

                        .st5error {
                            fill: #FC155C;
                        }

                        .st6error {
                            display: none;
                            fill: #2C2841;
                        }

                        .st7error {
                            fill: #4D226D;
                        }

                        .st8error {
                            fill: #31104B;
                        }

                        .st9error {
                            fill: #93278F;
                        }

                        .st10error {
                            fill: #FBB03B;
                        }

                        .st11error {
                            fill: #FFD4CF;
                        }

                        .st12error {
                            fill: #F4CCC9;
                        }

                        .st13error {
                            fill: #727185;
                        }

                        .st14error {
                            opacity: 0.5;
                            fill: #FF95BD;
                            enable-background: new;
                        }

                        .st15error {
                            fill: #565564;
                        }

                        .st16error {
                            fill: #FFFFFF;
                        }

                        .st17error {
                            opacity: 0.5;
                            fill: #BF708E;
                            enable-background: new;
                        }

                        .st18error {
                            fill: #584F82;
                        }

                        .st19error {
                            opacity: 0.7;
                            fill: #FFFFFF;
                            enable-background: new;
                        }

                        .st20error {
                            fill: url(#SVGID_1_);
                        }

                        .st21error {
                            fill: url(#SVGID_2_);
                        }

                        .st22error {
                            fill: url(#SVGID_3_);
                        }

                        .st23error {
                            fill: url(#SVGID_4_);
                        }

                        .st24error {
                            fill: #FD6997;
                        }

                        .st25error {
                            fill: url(#SVGID_5_);
                        }

                        .st26error {
                            fill: url(#SVGID_6_);
                        }

                        .st27error {
                            fill: url(#SVGID_7_);
                        }

                        .st28error {
                            fill: url(#SVGID_8_);
                        }

                        .st29error {
                            font-family: 'Arvo-Bold';
                        }

                        .st30error {
                            font-size: 20.2426px;
                        }

                        .st31error {
                            font-family: 'Arvo';
                        }

                        .st32error {
                            font-size: 13.5034px;
                        }
                    g#bg
                        path.st0error(d='M160.8,212.3c-63.1,0-114.3-51.2-114.3-114.3c0-35.3,16-66.9,41.2-87.9c-43.4,16.2-74.3,58-74.3,107.1\
                    c0,63.1,51.2,114.3,114.3,114.3c27.8,0,53.2-9.9,73-26.4C188.3,209.8,174.9,212.3,160.8,212.3z')
                        path.st1error(d='M127.8,3c-14.1,0-27.5,2.5-40,7.2c-25.2,21-41.2,52.5-41.2,87.9c0,63.1,51.2,114.3,114.3,114.3\
                    c14.1,0,27.5-2.5,40-7.2c25.2-21,41.2-52.5,41.2-87.9C242,54.2,190.9,3,127.8,3z')
                        path.st2error(d='M158.4,212.3c-0.7-3.9-1.1-7.9-1.1-12c0-30.6,21.4-56.1,50-62.6c-9-4.7-19.2-7.4-30-7.4\
                    c-35.4,0-64.2,28.7-64.2,64.2c0,2.6,0.2,5.1,0.5,7.7C127.3,208.4,142.5,212,158.4,212.3z')
                        path.st3error(d='M162.7,226.1c-11,3.5-22.7,5.4-34.9,5.4c-1,0-2,0-2.9,0c11.6,16.5,30.8,27.2,52.5,27.2c4.9,0,9.6-0.5,14.2-1.6\
                    C178.7,250.3,168.5,239.4,162.7,226.1z')
                        path.st4error(d='M158.4,212.3c-16-0.3-31.2-3.9-44.9-10.2c1.3,10.8,5.3,20.8,11.3,29.3c1,0,1.9,0,2.9,0\
                    c12.2,0,23.9-1.9,34.9-5.4C160.8,221.7,159.3,217.1,158.4,212.3z')
                    g#buvle
                        path.st5error(d='M161.8,141h-106c-29.1,0-53-23.8-53-53v-2.1c0-29.1,23.8-53,53-53h106c29.1,0,53,23.8,53,53V88\
                    C214.8,117.1,191,141,161.8,141z')
                        path.st5error(d='M125.4,129.8c0,0-2.1,38.4,35.2,47.4c-20.8-10.1-21.3-28.8-15.4-47.4C150.9,111.1,125.4,129.8,125.4,129.8z')
                    g#caracter
                        path.st6error(d='M187.3,161.8c-1.1-0.8-2.3-1.5-3.5-2.2c-1.2-0.6-2.5-1.2-3.8-1.7c-1.3-0.5-2.6-0.7-3.9-1.1\
                    c-1.3-0.4-2.6-0.8-4-1.2l0-0.2c1.4-0.4,2.9-0.4,4.3-0.2c1.4,0.2,2.8,0.9,4,1.5c1.3,0.6,2.5,1.3,3.7,2.2c1.2,0.8,2.3,1.7,3.2,2.7\
                    L187.3,161.8z')
                        path.st6error(d='M212.3,157.8c1.1-1,2.4-1.6,3.7-2.2c1.3-0.6,2.7-1.1,4.1-1.5c2.8-0.9,5.6-1.5,8.4-2c1.4-0.2,2.9-0.4,4.3-0.6\
                    c0.4,0,0.7-0.1,1.1-0.1c0.4,0,0.7,0,1.1,0c0.7,0,1.5,0,2.3,0.1c0.8,0.1,1.5,0.3,2.2,0.7c0.7,0.4,1.3,0.9,1.8,1.4c1,1,2,2.1,2.9,3.2\
                    c-1.2-0.8-2.3-1.8-3.4-2.6c-1.1-0.9-2.3-1.4-3.6-1.5c-1.3-0.1-2.7,0.1-4.1,0.3c-1.4,0.2-2.8,0.4-4.2,0.7c-1.4,0.2-2.8,0.5-4.2,0.8\
                    c-1.4,0.3-2.8,0.6-4.2,0.9c-1.4,0.3-2.8,0.6-4.1,1C214.9,156.7,213.6,157.1,212.3,157.8z')
                        path.st7error(d='M179.7,200.3c-5.1,5.6-13.8,5.1-14-0.3c-0.5-5.9,5.1-8.2,5.9-3.6c1-6.1-9.7-7.9-12,3.1\
                    c-2.3,10.4,14.5,25.5,28,9.4C184.6,206.4,181.8,203.3,179.7,200.3z')
                        path.st8error(d='M232.5,86.6c-12,0-20.4,3.3-26.3,8.7c-1.5,1-3.1,1.8-4.3,2.8c-9.2,5.9-16.6,8.9-24.2,9.9c-7.6,1-4.8,1-6.1,2.8\
                    c12.2,8.4,3.1,16.8,1,34.4c0,0,12.5-9.2,19.9,10.4c0.3,15.5,1.3,29.6,5.6,40.5c0,0.3,0,0.3,0,0.5c0,0,0.3,0,0.3,0.3\
                    c5.4,12.7,15.3,20.6,34.2,20.6c36.2,0,65.5-29.3,65.5-65.5C297.7,115.9,268.4,86.6,232.5,86.6z')
                        path.st9error(d='M187,275c8.6-11,17.4-26.1,16.8-30.2c5.3-5.1,11.3-7.1,17.7-5.9c6.4,1.2,14.2-1.2,19.4-2.3s12.2-3.2,13.2-1.2\
                    c1.1,2,12.5,24.9,6.8,39.6')
                        path.st10error(d='M216.1,257.8c9.4-5.3,24.9-13.2,26.8-21.6c-0.7,0.2-1.4,0.3-2,0.4c-5.2,1.1-13,3.6-19.4,2.3\
                    c-0.7-0.1-1.4-0.2-2-0.3c-0.4,1.2-0.9,1.9-1.6,3.1c-1.5,2.5-15.9,16.5-15.5,19.2C202.7,263.6,206.1,263.5,216.1,257.8z')
                        path.st11error(d='M222.7,237c-1.9,6.9-7.9,13.8-3.6,12c4.3-1.9,20.6-8,20.6-10.5S222.7,237,222.7,237z')
                        path.st12error(d='M216.1,214.8c1.5,12.1,5.1,29.1,7.5,28.6c2.4-0.5,19.3-2.1,16-7.5c-3.3-5.3-10.6-23.9-9.4-30')
                        path.st10error(d='M259.5,125.3c-44.3-21.4-70.9-24.5-76.2-20.1c0,0,2.5-14.8,10.4-21.9c-2.3,19.6,19.1-15.8,19.1-15.8\
                    s1,35.7,23.4,23.4C234,101.6,249.6,120.2,259.5,125.3z')
                        ellipse.st11error(transform='matrix(0.773 -0.6344 0.6344 0.773 -48.3925 204.0955)', cx='261', cy='169.7', rx='13', ry='8.7')
                        path.st7error(d='M171.6,110.5c1.3-3.6,4.8-1.3,9.4-6.1c4.6-4.8,6.6-0.3,10.7-5.9c4.1-5.6,25.7-2.3,38.7,10.2\
                    s38.7,43.1,37.2,81.6c-1.5,39-37.5,35.9-40,17.3c-1.8-13.8,11.5-16.6,13-8.7c-3.1-5.1-8.4,0-5.4,6.6c4.1,8.9,22.9-1.5,17.1-19.6\
                    c-11.2-34.7-44.6-56.1-61.2-68.3S171.6,110.5,171.6,110.5z')
                        path.st11error(d='M227.7,207.9c-1.8-13.8,11.5-16.6,13-8.7c-3.1-5.1-8.4,0-5.4,6.6c0.8,1.5,1.8,2.3,3.1,2.8\
                    c6.1-6.1,11.2-12.7,14.8-19.4c-0.3-1-0.5-2-0.8-3.3c-11.2-34.7-44.6-56.1-61.2-68.3c-7.1,4.6-13,11-16.3,20.4\
                    c-3.1,6.9-4.3,21.4,3.1,35.2c2.8,5.1-3.6,14.5,0.5,24.2c4.1,9.9,18.1,16.1,19.9,24.2c1.5,7.4,15.8,6.6,32.6-6.9\
                    C229.2,213,227.9,210.7,227.7,207.9z')
                        path.st13error(d='M171.8,154.1c0.3-1,1.3-1.5,2-2c0.8-0.3,1.5-0.5,2.3-0.8c1.5-0.3,2.8,0,4.1,0.3c1.3,0.5,2.5,1,3.6,2\
                    c1,1,2,2,2.5,3.8l-0.3,0.3c-1-0.5-2.3-1-3.6-1.5c-1.3-0.5-2.3-0.8-3.6-1c-1.3-0.3-2.5-0.8-3.6-1\
                    C174.1,153.9,172.9,153.6,171.8,154.1L171.8,154.1z')
                        path.st13error(d='M214.4,156.4c1.3-2.8,3.6-4.6,5.9-6.4c1.3-0.8,2.5-1.3,3.6-2c1.3-0.5,2.5-1,3.8-1.3c2.8-0.8,5.4-1,8.2-0.8\
                    c1.5,0,2.8,0.3,4.3,0.8c1.3,0.5,2.8,1,3.8,2l-0.3,0.3c-1.3-0.5-2.5-0.5-3.8-0.5c-1.3,0-2.5,0-3.8,0.3c-2.5,0.3-5.1,0.8-7.6,1.5\
                    c-2.5,0.5-5.1,1.5-7.4,2.5s-4.6,2.3-6.9,3.8L214.4,156.4z')
                        path.st14error(d='M214.7,178.6c0,0,4.8-13,11.5-15.5c6.6-2.5,13,8.9,13,8.9L214.7,178.6')
                        path.st14error(d='M195,178.3c0,0-2.3-11.7-12.5-12c-4.6,1.8-2.3,8.2-2.3,8.2L195,178.3z')
                        path.st15error(d='M194.8,179.9c-3.8,3.6-8.4,3.8-12.2,2c-4.1-1.8-4.1,0.8-4.1,0.8s-0.5-2.3,2-3.3c0,0,1.3-0.8-0.5-1\
                    c-1.8-0.3-2,0.5-2,0.5s0.5-2.5,2.5-2c2,0.5,2.8,5.4,6.9,5.4C191.5,182.2,192.2,181.7,194.8,179.9z')
                        path(d='M194.8,178.3c-5.4-7.9-11.5-6.6-14.3-6.6c-2.8,0-4.6-1.5-6.1-4.1c2.3,4.1,4.3,5.1,3.6,5.6c-0.8,0.5-4.1-0.3-5.6-2\
                    c3.1,3.1,4.1,2.8,3.3,3.3c-0.8,0.5-4.6-0.5-4.8-2.8c0.8,3.1,4.1,5.9,8.9,4.1C184.3,176,194.8,178.3,194.8,178.3z')
                        path.st16error(d='M180.2,174.8c5.1-3.3,12.5-0.5,14.8,3.8C191,184.7,179.5,183.2,180.2,174.8z')
                        path.st17error(d='M190.4,162.3c1.3,2.3,2.3,4.6,3.3,7.1c0.5,1.3,0.8,2.5,1.3,3.8c0.3,1.3,0.5,2.5,0.8,3.8\
                    c0.3,2.5,0.3,5.4-0.5,7.9c-0.8,2.5-2.3,5.1-4.1,6.9l0.3-0.3c0,0.5,0,1,0,1.5c0,0.5,0.3,1,0.8,1.5c0.8,1,1.5,1.8,2.8,2.3\
                    c1,0.5,2.3,0.8,3.6,1c1.3,0.3,2.5,0.3,3.8,0.3c-1.3,0.3-2.5,0.3-3.8,0.3c-0.8,0-1.3,0-2-0.3c-0.8-0.3-1.3-0.3-2-0.5\
                    c-1.3-0.5-2.5-1.3-3.3-2.3c-0.5-0.5-0.8-1.3-1-2c-0.3-0.8-0.3-1.5,0-2.3v-0.3l0.3-0.3c1.8-1.8,3.1-3.8,3.6-6.4\
                    c0.8-2.3,0.8-4.8,0.5-7.4c0-1.3-0.3-2.5-0.5-3.8c-0.3-1.3-0.5-2.5-1-3.8C192.2,167.1,191.2,164.8,190.4,162.3z')
                        path.st17error(d='M206.2,188.5c0.5,0.5,1,1,1.5,1.5c0.5,0.5,1,1,1.3,1.8c0.3,0.8,0.5,1.5,0.5,2.3s-0.5,1.5-1,1.8\
                    c0.3-0.8,0.3-1.3,0.3-2c0-0.5-0.3-1.3-0.5-1.8C207.5,190.8,206.8,189.8,206.2,188.5z')
                        path.st18error(d='M186.4,173.2c-0.5,0.8-0.8,1.5-0.8,2.3c-0.3,2.5,1.8,4.8,4.6,5.1c2,0,3.8-1,4.6-2.5\
                    C193.2,175.5,189.9,173.8,186.4,173.2z')
                        path(d='M190.2,178.1c1.3,0,2.3-0.8,2.3-2c0-0.3,0-0.3,0-0.5c-0.8-0.8-2-1.3-3.1-1.5c-0.5,0.3-1,1-1.3,1.8\
                    C188.1,177.1,189.2,178.1,190.2,178.1z')
                        circle.st19error(cx='190.4', cy='175', r='0.5')
                        lineargradient#SVGID_1_(gradientunits='userSpaceOnUse', x1='191.3349', y1='77.2602', x2='191.3349', y2='71.1434', gradienttransform='matrix(1 0 0 -1 0 252)')
                            stop(offset='0', style='stop-color:#FFFFFF')
                            stop(offset='1', style='stop-color:#FFFFFF;stop-opacity:0')
                        polygon.st20error(points='190.4,181.7 191.5,181.4 192.2,178.6 191,178.3 	')
                        lineargradient#SVGID_2_(gradientunits='userSpaceOnUse', x1='192.7367', y1='76.573', x2='192.7367', y2='71.145', gradienttransform='matrix(1 0 0 -1 0 252)')
                            stop(offset='0', style='stop-color:#FFFFFF')
                            stop(offset='1', style='stop-color:#FFFFFF;stop-opacity:0')
                        polygon.st21error(points='191.7,181.4 192.5,181.4 193.8,178.8 192.5,178.6 	')
                        lineargradient#SVGID_3_(gradientunits='userSpaceOnUse', x1='192.7676', y1='74.8088', x2='194.399', y2='74.8088', gradienttransform='matrix(1 0 0 -1 0 252)')
                            stop(offset='0', style='stop-color:#FFFFFF')
                            stop(offset='1', style='stop-color:#FFFFFF;stop-opacity:0')
                        path.st22error(d='M193.2,176.3l-0.5,1.5l1.3,0.3l0.3-0.5C194,177.1,193.8,176.8,193.2,176.3z')
                        lineargradient#SVGID_4_(gradientunits='userSpaceOnUse', x1='191.1155', y1='75.5734', x2='192.9552', y2='75.5734', gradienttransform='matrix(1 0 0 -1 0 252)')
                            stop(offset='0', style='stop-color:#FFFFFF')
                            stop(offset='1', style='stop-color:#FFFFFF;stop-opacity:0')
                        path.st23error(d='M193,176c-0.5-0.5-1-0.8-1.5-1l-0.3,2.5l1.3,0.3L193,176z')
                        path(d='M217.2,177.6c6.9-10.4,13-10.2,15.5-10.7c1.3-0.3,3.6,0,6.6-3.3c-2.3,3.1-3.3,4.8-2,4.8c0,0,2,0.3,4.6-1\
                    c-5.1,3.1-3.1,3.6-0.8,3.6c-1.5,1-2.5,1.8-3.3,3.3C235.6,170.9,217.2,177.6,217.2,177.6z')
                        polygon.st16error(points='195.8,204.3 195.8,209.9 205.5,213 221.3,204.6 214.1,206.1 199.1,203.1 	')
                        path.st5error(d='M193.5,205.4c1.3,2.3-1.5,8.9,6.9,9.7c8.7,0.8,11.2-2,20.9-10.2c-9.7,4.8-23.4,10.4-24.7,1.3\
                    C194.8,204.3,193.5,205.4,193.5,205.4z')
                        path.st24error(d='M189.7,203.8c4.6,2.5,22.9,5.9,31.9,0.8c-12,2.3-19.6-2.8-21.7-2.8c-2.3,0.8-2.3,0-2.8-0.5\
                    C196.1,201.5,193.2,204.8,189.7,203.8z')
                        path.st15error(d='M219.2,178.8c6.9,4.8,15.5,0.8,18.4,2.5c0,0-2.5-1.8-0.8-3.1c1.8-1,3.3,0.5,3.3,1.3c-1-3.1-2-5.4-1-7.1\
                    c1-1.5-6.9,0.5-6.9,0.5L219.2,178.8z')
                        path.st16error(d='M214.7,178.6c9.7-12.5,18.6-12,24.5-6.4c-4.8,8.4-9.7,10.2-20.1,6.6C215.4,178.6,214.7,178.6,214.7,178.6z')
                        path.st18error(d='M235.3,169.4c-3.1-1.5-6.9-1.5-10.7,0.5c-0.3,0.8-0.5,1.5-0.5,2.3c-0.3,3.3,2.3,6.1,5.6,6.4s6.1-2.3,6.4-5.6\
                    C236.3,171.7,236.1,170.4,235.3,169.4z')
                        ellipse(transform='matrix(5.806376e-02 -0.9983 0.9983 5.806376e-02 44.5935 392.0999)', cx='230.1', cy='172.4', rx='2.8', ry='2.8')
                        circle.st19error(cx='232', cy='169.7', r='0.5')
                        lineargradient#SVGID_5_(gradientunits='userSpaceOnUse', x1='234.0264', y1='82.4772', x2='234.0264', y2='75.0919', gradienttransform='matrix(1 0 0 -1 0 252)')
                            stop(offset='0', style='stop-color:#FFFFFF')
                            stop(offset='1', style='stop-color:#FFFFFF;stop-opacity:0')
                        rect.st25error(x='233.5', y='174', width='1', height='3.8')
                        lineargradient#SVGID_6_(gradientunits='userSpaceOnUse', x1='234.0264', y1='82.4772', x2='234.0264', y2='75.0919', gradienttransform='matrix(1 0 0 -1 0 252)')
                            stop(offset='0', style='stop-color:#FFFFFF')
                            stop(offset='1', style='stop-color:#FFFFFF;stop-opacity:0')
                        rect.st26error(x='233.5', y='169.2', width='1', height='3.8')
                        lineargradient#SVGID_7_(gradientunits='userSpaceOnUse', x1='235.0459', y1='82.4772', x2='235.0459', y2='75.0919', gradienttransform='matrix(1 0 0 -1 0 252)')
                            stop(offset='0', style='stop-color:#FFFFFF')
                            stop(offset='1', style='stop-color:#FFFFFF;stop-opacity:0')
                        rect.st27error(x='234.5', y='174', width='1', height='3.8')
                        lineargradient#SVGID_8_(gradientunits='userSpaceOnUse', x1='235.0459', y1='81.8864', x2='235.0459', y2='78.0633', gradienttransform='matrix(1 0 0 -1 0 252)')
                            stop(offset='0', style='stop-color:#FFFFFF')
                            stop(offset='1', style='stop-color:#FFFFFF;stop-opacity:0')
                        path.st28error(d='M235.6,169.7c-0.3-0.3-0.8-0.3-1-0.5l0,0v3.8h1V169.7z')
                        path.st7error(d='M171.6,110.5c1.3-3.6,4.8-1.3,9.4-6.1c4.6-4.8,6.6-0.3,10.7-5.9c4.1-5.6,25.7-2.3,38.7,10.2\
                    s38.7,43.1,37.2,81.6c-1.5,39-37.5,35.9-40,17.3c-1.8-13.8,11.5-16.6,13-8.7c-3.1-5.1-8.4,0-5.4,6.6c4.1,8.9,22.9-1.5,17.1-19.6\
                    c-11.2-34.7-44.6-56.1-61.2-68.3S171.6,110.5,171.6,110.5z')
                    g#text
                        text.st16error.st29error.st30error(transform='matrix(1 0 0 1 29.9238 82.9409)') Oops! Silly Me!
                        text.st16error.st31error.st32error(transform='matrix(1 0 0 1 32.4492 107.061)') I can’t find that page
            .c2
                .errors__posts.d-flex.flex-column.py-5.px-3.px-lg-5
                    h2 Recent Posts
                    ul.list-unstyled.my-4
                        li
                            a(href="") Can you really win a million pounds playing bingo?
                        li
                            a(href="") A guide to online bingo variants
                        li
                            a(href="") Bingo loyalty and VIP schemes
                        li
                            a(href="") Free bingo - is it too good to be true?
                        li
                            a(href="") The worst bingo promotions ever

                    h2 Most used categories
                    ul.list-unstyled.my-4
                        li
                            a(href="") Articles (25)
                        li
                            a(href="") News (4)


