extends views/layout


include views/includes/offer-card/offer-card

block data
    -var template = "index"
block content
    section.intro
        .d-flex.flex-column.flex-lg-row.g1
            .c1.d-flex.justify-content-center
                .p-3
                    h2 2017 New Bingo Sites
                    ul.list-unstyled
                        li.py-1 The best new bingo sites from the last 12 months
                        li.py-1 Big deposit and no deposit bonus offers
                        li.py-1 Exclusive bingo rooms and promotions
                        li.py-1 All UK regulated

            .c2.offers
                .px-4
                    h3
                        a.mr-2(href="#register") REGISTER
                        | to receive updates via email
                    .offer-table.p-2.p-md-4
                        table.table
                            thead
                                tr
                                    th Site
                                    th Offer
                            tbody
                                tr
                                    td Good Day Bingo
                                    td £10 No deposit & 500% Bingo Bonus
                                tr
                                    td Fabulous Bingo
                                    td Deposit £10 play with £40
                                tr
                                    td Bid Bingo
                                    td £70 Free Bingo Tickets, No Wagering Requirement
                                tr
                                    td Bid Bingo
                                    td £70 Free Bingo Tickets, No Wagering Requirement
                                tr
                                    td Bid Bingo
                                    td £70 Free Bingo Tickets, No Wagering Requirement
                        p.text-center.mb-0.small * New players only. T&C's including wagering requirements apply.

    section
        .d-flex.flex-column.flex-lg-row.g1
            .offer-summary.c1
                .content-container
                    h2 NEW BINGO SITES
                    hr.title-underline
                    +bingoCard("chitChat", "Chit Chat Bingo")
                    +bingoCard("coralBingo", "Coral Bingo")
                    +bingoCard("fabulous", "Fabulous Bingo")
                    +bingoCard("iconic", "Iconic Bingo")
                .content-container.subscribe-box.mb-5.p-4.hidden-md-down
                    .d-flex.align-items-center.flex-column
                        h2 Get £1000 in bonus offers
                        input.subscribe-box__email(type="email", placeholder="Enter your email")
                        input#c3(type='checkbox', name='cc')
                        label.terms-conditions(for='c3')
                            span
                            | I have read the
                            a.pl-1.font-italic(href="") Terms & Conditions
                        button.btn.btn-send(type="button") SUBMIT
            .c2
                .intro-content.pb-4
                    .content-container
                        h2 WELCOME TO BEST NEW BINGO SITES
                        hr.title-underline
                        p.my-5.
                            As 2016 changes to 2017 we continue to see the usual steady stream of new bingo sites on the Dragonfish network and on the two Cozy networks, plus the occasional
                            Jumpman powered bingo site. Playtech/Virtue Fusion launches on the other hand remain few and far between; although in our opinion the Playtech platform is superior
                            the setup cost is greater for the operator.
                        h2 FIND YOUR BINGO SITES 2017!
                        hr.title-underline
                        p.my-5.
                            As 2016 changes to 2017 we continue to see the usual steady stream of new bingo sites on the Dragonfish network and on the two Cozy networks, plus the occasional
                            Jumpman powered bingo site. Playtech/Virtue Fusion launches on the other hand remain few and far between; although in our opinion the Playtech platform is superior
                            the setup cost is greater for the operator.
                        .d-flex.flex-row.flex-wrap.justify-content-center
                            .d-flex.flex-column.intro-content__icon
                                svg(viewBox="0 0 110 110")
                                    use(xlink:href="#new" x="0" y="0")
                                p New bingo sites
                            .d-flex.flex-column.intro-content__icon
                                svg(viewBox="0 0 110 110")
                                    use(xlink:href="#newDeposit" x="0" y="0")
                                p No deposit bingo
                            .d-flex.flex-column.intro-content__icon
                                svg(viewBox="0 0 110 110")
                                    use(xlink:href="#gift" x="0" y="0")
                                p Play free bingo
                            .d-flex.flex-column.intro-content__icon
                                svg(viewBox="0 0 110 110")
                                    use(xlink:href="#888" x="0" y="0")
                                p CASSAVA bingo sites
                            .d-flex.flex-column.intro-content__icon
                                svg(viewBox="0 0 110 110")
                                    use(xlink:href="#payPal" x="0" y="0")
                                p PayPal bingo sites
                            .d-flex.flex-column.intro-content__icon
                                svg(viewBox="0 0 110 110")
                                    use(xlink:href="#cozy" x="0" y="0")
                                p COZY bingo sites
                .intro-news.py-5
                    .content-container
                        h2 LATEST BINGO ARTICLES OF 2017
                        hr.title-underline
                        p.
                            As 2016 changes to 2017 we continue to see the usual steady stream of new bingo sites on the Dragonfish network and on the two Cozy networks, plus the occasional
                            Jumpman powered bingo site. Playtech/Virtue Fusion launches on the other hand remain few and far between; although in our opinion the Playtech platform is superior
                            the setup cost is greater for the operator.
                        .gallery-slider(style="visibility: hidden")
                            a.screenshot(href="")
                                img(src="http://placekitten.com/g/400/500")
                                p.small.mt-3.text-center 75 ball bingo is the version that is most popular internationally.
                            a.screenshot(href="")
                                img(src="http://placekitten.com/g/400/500")
                                p.small.mt-3.text-center 75 ball bingo is the version that is most popular internationally.
                            a.screenshot(href="")
                                img(src="http://placekitten.com/g/400/500")
                                p.small.mt-3.text-center 75 ball bingo is the version that is most popular internationally.
                        p
                            span#slider-prev
                            span#slider-next.ml-4

                        a.play-now.ml-0(href="") View all news

                        .d-flex.flex-column
                            ul.list-unstyled.my-4
                                li
                                    a(href="") Can you really win a million pounds playing bingo?
                                li
                                    a(href="") A guide to online bingo variants
                                li
                                    a(href="") Bingo loyalty and VIP schemes
                                li
                                    a(href="") Free bingo - is it too good to be true?
                                li
                                    a(href="") The worst bingo promotions ever
                                li
                                    a(href="") Online bingo - is it fixed?
                                li
                                    a(href="") Wagering requirements explained
                                li
                                    a(href="") 2016 - the year in bingo




