extends views/layout

include views/includes/offer-card/offer-card


block content
	.position-fixed
		section.col.pb-3.bingo-site.sticky-top
			.d-flex.flex-column.flex-md-row.g1-md.content-container
				.c1.d-flex.flex-column.flex-sm-row
					div.d-none.d-sm-block
						img.bingo-img(src="assets/images/logo/lovehearts-bingo.png")
					.d-flex.flex-column.align-items-center.align-items-md-start.justify-content-center.p-2
						h1.bingo-site__title LoveHearts Bingo
						span.bingo-site__rating
							img.post-ratings-image(src='assets/images/stars-rating/rating_on.png', alt='3 votes, average: 2.33 out of 5', title='3 votes, average: 2.33 out of 5')
							img.post-ratings-image(src='assets/images/stars-rating/rating_on.png', alt='3 votes, average: 2.33 out of 5', title='3 votes, average: 2.33 out of 5')
							img.post-ratings-image(src='assets/images/stars-rating/rating_half.png', alt='3 votes, average: 2.33 out of 5', title='3 votes, average: 2.33 out of 5')
							img.post-ratings-image(src='assets/images/stars-rating/rating_off.png', alt='3 votes, average: 2.33 out of 5', title='3 votes, average: 2.33 out of 5')
							img.post-ratings-image(src='assets/images/stars-rating/rating_off.png', alt='3 votes, average: 2.33 out of 5', title='3 votes, average: 2.33 out of 5')
							|  (
							em.invisible
								strong 3
								|  votes, average: 
								strong 2.33
								|  out of 5, 
								strong rated
							| )
				.c2.d-flex.flex-column.justify-content-center.justify-content-md-end
					.d-flex.flex-row.justify-content-center.align-items-center.justify-content-md-end
						a(href="") Write a review
						a.play-now(href="") Play Now
					//.d-flex.flex-row.justify-content-center.align-items-center.justify-content-md-end
					div.text-center.text-xl-right.text-lg-right.text-md-right.text-sm-center.pr-3
						h2.bingo-site__offer £10 No Deposit & 500% Bingo Bonus
						small.offer-card terms & conditions apply

		section.col.bingo-summary.px-0
			.d-flex.flex-md-row.flex-column
				section.bingo_description
					.shortDescription.p-4
						h2 LoveHearts Bingo Review
						p
							| Bingo 52 is a Dragonfish network bingo site with an exclusive monthly bonus offer as well as a generous welcome bonus. The 52 in the name refers to the number of weeks in a year, and the site is very tastefully themed on the changing seasons, complete with a parade of cute animals.
						img.img-fluid.mx-auto(src="assets/images/screenshot/zingo-bingo-02.jpg")
					.p-4.full_article
						p
							| Coral Bingo is part of the huge Ladbrokes Gala Coral Group and this means it is the only other bingo site to have access to Gala Bingo’s Coronation Street Bingo, as well as some of Gala’s other unique bingo rooms such as the Coconut Island 50 ball room, Bingo Lotto and most recently The Chase.

							| Like Gala, it is missing some of the network rooms including Cash Cubes and Bouncy Balls Bingo and it is rumoured that in the future there will be fewer network rooms and more Gala Coral exclusive rooms (probably with the addition of Ladbrokes) where their players won’t be competing against players at other sites. The Gala Coral player base is certainly large enough to support this while still offering some very big prizes.

							| Coral has plenty to offer any player who gets bored of bingo.  As well as hundreds of slots games there’s a casino, a live casino, poker, lottery betting, virtual sports and – as you’d expect from a household name bookie – a huge sportsbook including in-play and any number of novelty bets on TV shows and the like.

							| Another very special thing about this site is Coral Connect, a membership card which enables players to make deposits and withdraw cash at Coral shop counters and play and place bets on any Coral product – so no need to go via a credit card or bank account.  Connect customers also get access to exclusive special promotions.

							| Mobile play at Coral is via an app which is available for both Apple and Android, and if you like to play slots on the go they have an app for that too.
				section.bingo_table
					.offer-table.p-2.p-md-4
						table.table
							tbody
								tr
									td No Deposit Bonus Offer
									td None
								tr
									td Bingo Deposit Bonus
									td 400% on first deposit - bingo bonus up to £40
								tr
									td Slots Deposit Bonus
									td 0
								tr
									td Wagering Info
									td 4 x (deposit + bonus)
								tr
									td Loyalty/VIP scheme
									td Dragonfish monthly loyalty plan deposit £20 or more in a calendar month to receive £5 bonus at the start of the following month
								tr
									td Other Bonuses
									td 99 x bonus or 80 x (deposit + bonus) unless otherwise stated
								tr
									td Slots Wagering Requirements
									td Winnings from any slots bonus restricted to £400. £5 minimum deposit required before any withdrawals are allowed. Minimum withdrawal £20.
								tr
									td Other Withdrawal Restrictions
									td Credit card, debit card, Paysafecard, Paypal, Neteller, Entropay
								tr
									td Payment Methods
									td Dragonfish
								tr
									td Bingo Network
									td Only for recent depositors
								tr
									td Free Bingo
									td Dragonfish network chat
								tr
									td Chat Hosting Arrangements
									td
								tr
									td Bingo software
									td Dragonfish
								tr
									td Launch date
									td February 2017
								tr
									td UK License Holder
									td 888 UK Limited
			hr
		//-.d-flex.flex-column.flex-lg-row.g1.flex-wrap
			.c2.d-flex.flex-column.justify-content-center.flex-first.flex-lg-unordered
				.shortDescription.p-4
					p
						Bingo 52 is a Dragonfish network bingo site with an exclusive monthly bonus offer as well as a generous welcome bonus. The 52 in the name refers
						to the number of weeks in a year, and the site is very tastefully themed on the changing seasons, complete with a parade of cute animals.
				.offer-table.p-2.p-md-4
					table.table
						tbody
							tr
								td No Deposit Bonus Offer
								td None
							tr
								td Bingo Deposit Bonus
								td 400% on first deposit - bingo bonus up to £40
							tr
								td Slots Deposit Bonus
								td 0
							tr
								td Wagering Info
								td 4 x (deposit + bonus)
							tr
								td Loyalty/VIP scheme
								td Dragonfish monthly loyalty plan deposit £20 or more in a calendar month to receive £5 bonus at the start of the following month
							tr
								td Other Bonuses
								td 99 x bonus or 80 x (deposit + bonus) unless otherwise stated
							tr
								td Slots Wagering Requirements
								td Winnings from any slots bonus restricted to £400. £5 minimum deposit required before any withdrawals are allowed. Minimum withdrawal £20.
							tr
								td Other Withdrawal Restrictions
								td Credit card, debit card, Paysafecard, Paypal, Neteller, Entropay
							tr
								td Payment Methods
								td Dragonfish
							tr
								td Bingo Network
								td Only for recent depositors
							tr
								td Free Bingo
								td Dragonfish network chat
							tr
								td Chat Hosting Arrangements
								td
							tr
								td Bingo software
								td Dragonfish
							tr
								td Launch date
								td February 2017
							tr
								td UK License Holder
								td 888 UK Limited

			.w-100.bingo-descrip.d-flex.py-5
				.content-container.g1
					.c1.pr-lg-3
						h2 LoveHearts Bingo description
						hr.title-underline
						p.
							Bingo 52 is a Dragonfish network bingo site with an exclusive monthly bonus offer as well as a generous welcome bonus. The 52 in the name refers
							to the number of weeks in a year, and the site is very tastefully themed on the changing seasons, complete with a parade of cute animals.


			.mx-auto.hidden-sm-down.my-4
				img.img-fluid(src="/assets/images/advertising.png")


	//- section.bingo-details
		.intro-news.p-3.g1__s1
			.c2.mx-auto
				.d-flex.flex-column.flex-sm-row.my-5.align-items-center
					h2.offer-title £10 No Deposit & 500% Bingo Bonus
					a.play-now.my-0.mx-md-4(href="") Play now

				h2 LATEST BINGO ARTICLES OF 2017
				hr.title-underline
				p.
					As 2016 changes to 2017 we continue to see the usual steady stream of new bingo sites on the Dragonfish network and on the two Cozy networks, plus the occasional
					Jumpman powered bingo site. Playtech/Virtue Fusion launches on the other hand remain few and far between; although in our opinion the Playtech platform is superior
					the setup cost is greater for the operator.
				.gallery-slider(style="visibility: hidden")
					a.screenshot(href="")
						img(src="http://placekitten.com/g/400/500")
						p.small.mt-3.text-center 75 ball bingo is the version that is most popular internationally.
					a.screenshot(href="")
						img(src="http://placekitten.com/g/400/500")
						p.small.mt-3.text-center 75 ball bingo is the version that is most popular internationally.
					a.screenshot(href="")
						img(src="http://placekitten.com/g/400/500")
						p.small.mt-3.text-center 75 ball bingo is the version that is most popular internationally.
				p
					span#slider-prev
					span#slider-next.ml-4



				ul.list-unstyled.my-4
					li
						a(href="") Can you really win a million pounds playing bingo?
					li
						a(href="") A guide to online bingo variants
					li
						a(href="") Bingo loyalty and VIP schemes
					li
						a(href="") Free bingo - is it too good to be true?
					li
						a(href="") The worst bingo promotions ever
					li
						a(href="") Online bingo - is it fixed?
					li
						a(href="") Wagering requirements explained
					li
						a(href="") 2016 - the year in bingo

				.d-flex.flex-column.flex-sm-row.my-5.align-items-center
					h2.offer-title £10 No Deposit & 500% Bingo Bonus
					a.play-now.my-0.mx-md-4(href="") Play now

	//-section
		.content-container.py-5
			h2 Comments
			hr.title-underline
			.d-flex.flex-column.flex-lg-row.g1__s1
				.c2
					h2 Facebook plugin
				.c1.d-flex.justify-content-center
					img.img-fluid(src="/assets/images/advertising2.png")


	section.related-bingo
		.content-container.py-5
			h2 Related bingo sites
			hr.title-underline
			.d-flex.flex-column.flex-md-row.flex-wrap.justify-content-between.align-items-center
				+bingoCard("chit-chat-bingo", "Chit Chat Bingo")
				+bingoCard("coral-bingo", "Coral Bingo")
				+bingoCard("fabulousbingo", "Fabulous Bingo")
				+bingoCard("iconic-bingo", "Iconic Bingo")

			nav(aria-label='Page navigation')
				ul.pagination.justify-content-end
					li.page-item.disabled.text-right
						a.page-link(href='#', tabindex='-1') &laquo; Previous
					li.page-item.active
						a.page-link(href='#') 1
					li.page-item
						a.page-link(href='#') 2
					li.page-item
						a.page-link(href='#') 3
					li.page-item
						a.page-link(href='#') 4
					li.page-item
						a.page-link(href='#') Next &raquo;














