extends views/layout

include views/includes/offer-card/offer-card


block content
    section.py-5.bingo-site
        .d-flex.flex-column.flex-md-row.g1-md.content-container
            .c1.d-flex.flex-column.flex-sm-row
                div
                    img.bingo-img(src="assets/images/logo/lovehearts-bingo.png")
                .d-flex.flex-column.align-items-center.align-items-md-start.justify-content-center.p-2
                    h1.bingo-site__title LoveHearts Bingo
                    span.bingo-site__rating 3.5/5 *****
            .c2.d-flex.flex-column.justify-content-center.justify-content-md-end
                .d-flex.flex-row.justify-content-center.align-items-center.justify-content-md-end
                    a(href="") Write a review
                    a.play-now(href="") Play Now
                .d-flex.flex-row.justify-content-center.align-items-center.justify-content-md-end
                    h2.bingo-site__offer £10 No Deposit & 500% Bingo Bonus

    section.bingo-summary
        .d-flex.flex-column.flex-lg-row.g1.flex-wrap
            .c1.d-flex.justify-content-center.align-items-start.flex-last.flex-lg-unordered
                .mb-2
                    img.img-fluid(src="http://placekitten.com/g/400/300")
            .c2.d-flex.justify-content-center.flex-first.flex-lg-unordered
                .offer-table.p-2.p-md-4
                    table.table
                        tbody
                            tr
                                td Rating
                                td *****
                            tr
                                td No Deposit Bonus Offer
                                td None
                            tr
                                td Bingo Deposit Bonus
                                td 400% on first deposit - bingo bonus up to £40
                            tr
                                td Slots Deposit Bonus
                                td 0
                            tr
                                td Wagering Info
                                td 4 x (deposit + bonus)
                            tr
                                td Loyalty/VIP scheme
                                td Dragonfish monthly loyalty plan deposit £20 or more in a calendar month to receive £5 bonus at the start of the following month
                            tr
                                td Other Bonuses
                                td 99 x bonus or 80 x (deposit + bonus) unless otherwise stated
                            tr
                                td Slots Wagering Requirements
                                td Winnings from any slots bonus restricted to £400. £5 minimum deposit required before any withdrawals are allowed. Minimum withdrawal £20.
                            tr
                                td Other Withdrawal Restrictions
                                td Credit card, debit card, Paysafecard, Paypal, Neteller, Entropay
                            tr
                                td Payment Methods
                                td Dragonfish
                            tr
                                td Bingo Network
                                td Only for recent depositors
                            tr
                                td Free Bingo
                                td Dragonfish network chat
                            tr
                                td Chat Hosting Arrangements
                                td
                            tr
                                td Bingo software
                                td Dragonfish
                            tr
                                td Launch date
                                td February 2017
                            tr
                                td UK License Holder
                                td 888 UK Limited

            .w-100.bingo-descrip.d-flex.py-5
                .content-container.g1
                    .c1.pr-lg-3
                        h2 LoveHearts Bingo description
                        hr.title-underline
                        p.
                            Bingo 52 is a Dragonfish network bingo site with an exclusive monthly bonus offer as well as a generous welcome bonus. The 52 in the name refers
                            to the number of weeks in a year, and the site is very tastefully themed on the changing seasons, complete with a parade of cute animals.


            .mx-auto.hidden-sm-down.my-4
                img.img-fluid(src="/assets/images/advertising.png")


    section.bingo-details
        .intro-news.p-3.g1__s1
            .c2.mx-auto
                .d-flex.flex-column.flex-sm-row.my-5.align-items-center
                    h2.offer-title £10 No Deposit & 500% Bingo Bonus
                    a.play-now.my-0.mx-md-4(href="") Play now

                h2 LATEST BINGO ARTICLES OF 2017
                hr.title-underline
                p.
                    As 2016 changes to 2017 we continue to see the usual steady stream of new bingo sites on the Dragonfish network and on the two Cozy networks, plus the occasional
                    Jumpman powered bingo site. Playtech/Virtue Fusion launches on the other hand remain few and far between; although in our opinion the Playtech platform is superior
                    the setup cost is greater for the operator.
                .gallery-slider(style="visibility: hidden")
                    a.screenshot(href="")
                        img(src="http://placekitten.com/g/400/500")
                        p.small.mt-3.text-center 75 ball bingo is the version that is most popular internationally.
                    a.screenshot(href="")
                        img(src="http://placekitten.com/g/400/500")
                        p.small.mt-3.text-center 75 ball bingo is the version that is most popular internationally.
                    a.screenshot(href="")
                        img(src="http://placekitten.com/g/400/500")
                        p.small.mt-3.text-center 75 ball bingo is the version that is most popular internationally.
                p
                    span#slider-prev
                    span#slider-next.ml-4



                ul.list-unstyled.my-4
                    li
                        a(href="") Can you really win a million pounds playing bingo?
                    li
                        a(href="") A guide to online bingo variants
                    li
                        a(href="") Bingo loyalty and VIP schemes
                    li
                        a(href="") Free bingo - is it too good to be true?
                    li
                        a(href="") The worst bingo promotions ever
                    li
                        a(href="") Online bingo - is it fixed?
                    li
                        a(href="") Wagering requirements explained
                    li
                        a(href="") 2016 - the year in bingo

                .d-flex.flex-column.flex-sm-row.my-5.align-items-center
                    h2.offer-title £10 No Deposit & 500% Bingo Bonus
                    a.play-now.my-0.mx-md-4(href="") Play now

    section
        .content-container.py-5
            h2 Comments
            hr.title-underline
            .d-flex.flex-column.flex-lg-row.g1__s1
                .c2
                    h2 Facebook plugin
                .c1.d-flex.justify-content-center
                    img.img-fluid(src="/assets/images/advertising2.png")


    section.related-bingo
        .content-container.py-5
            h2 Related bingo sites
            hr.title-underline
            .d-flex.flex-column.flex-md-row.flex-wrap.justify-content-between.align-items-center
                +bingoCard("chit-chat-bingo", "Chit Chat Bingo")
                +bingoCard("coral-bingo", "Coral Bingo")
                +bingoCard("fabulousbingo", "Fabulous Bingo")
                +bingoCard("iconic-bingo", "Iconic Bingo")

            nav(aria-label='Page navigation')
                ul.pagination.justify-content-end
                    li.page-item.disabled.text-right
                        a.page-link(href='#', tabindex='-1') &laquo; Previous
                    li.page-item.active
                        a.page-link(href='#') 1
                    li.page-item
                        a.page-link(href='#') 2
                    li.page-item
                        a.page-link(href='#') 3
                    li.page-item
                        a.page-link(href='#') 4
                    li.page-item
                        a.page-link(href='#') Next &raquo;














