mixin banner(size)
	.banner.row.p-0.my-4.mx-auto.w-100.align-items-center.justify-content-sm-center
		.col.m-0.p-0.text-center
			h4.banner--caption.m-0.p-0 Bingo site of the month
		.col.m-0.p-0.text-center.text-sm-right
			img.banner--art.mx-0(src="assets/images/banners/" + size + ".jpg", alt="")